
<div>
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Title:</label>
  <input type="email" class="form-control" id="blog-title" placeholder="Blog Title">
</div>
<div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label">Content:</label>
  <textarea class="form-control" id="blog-content" rows="3" placeholder="Your Text Here"></textarea>
</div>
</div>


<script src="/js/addpost.js"></script>